body{
    margin: 0;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: lightcyan;
    display: flex;
    
}

.navbar .m{
    margin-left: 2rem;
}


.navbar .f{
    margin-right: 60rem;
}
.banner-card{
    width: 100vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    position: relative;
    height: 70vh;
    color: white;
}
.banner-img{
    height: 70vh;
    width: 100%;
  }
  
  .banner-title{
    position: absolute;
    top: 45vh;
    left: 5vw;
  }
  
  .banner-text{
    position: absolute;
    top: 55vh;
    left: 5vw;
    height: 4.5rem;
    overflow: hidden;
    margin-right: 5vw;
  }

  .movies-image{
      height:40vh;
      width:20vw
  }

  .movies-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
  }

  .movies-card{
      width: 20vw;
      margin:1rem;
      color: white;
      position: relative;
  }

  .movies-title{
    top:1rem;
    left:1rem;
    position:absolute;
  }

  .movies-button{
    position:absolute;
    bottom:2rem;
  }

  .button-wrapper{
      display: flex;
      justify-content: center;
  }

  .favourites-genres{
      padding: 1rem;
  }